{{ define "login" }}
    <!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/login.css" rel="stylesheet">
        <link href="/static/img/Jizzberry_Logo.svg" rel="icon" type="image/svg+xml">

        <title>Login</title>
    </head>

    <body>
    <div class="login">
        <img src="/static/img/txt-logo.svg">

        <h5>{{.Error}}</h5>


		<form action="/auth/login/" method="post">
			<div class="inp-border mb-4">
				<i class="fas fa-user" style="margin: 0 12px 7px 0; font-size: 19px; opacity: 0.85;"></i> <input name="username" placeholder="Username" required="" type="text">
			</div>


			<div class="inp-border mt-2 mb-2">
				<i class="fas fa-lock" style="margin: 0 12px 7px 0; font-size: 19px; opacity: 0.85;"></i> <input name="password" placeholder="Password" required="" type="password">
			</div>
			<button class="btn btn-grad mt-5" type="submit">Sign In</button>
		</form>
	</div>
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/static/vendor/fontawesome/js/all.min.js"></script>
	</body>
	</html>
{{ end }}