{{ define "multiselector_modal"}}
    <div
            class="modal fade"
            id="multiselectorModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="multiselector-modal-body">
                    <div class="input-group mb-3">
                        <input
                                style="
									background-color: rgb(230, 230, 230);
									box-shadow: none;
									border-radius: 30px 0px 0px 30px;
									outline: none;
									border: none;
								"
                                placeholder="Enter Path Manually"
                                type="search"
                                class="form-control pl-4"
                        />
                        <div class="input-group-append">
                            <button
                                    style="
										padding-left: 2rem;
										background-color: aquamarine;
										box-shadow: none;
										border-radius: 0px 30px 30px 0px;
										outline: none;
										border: none;
									"
                                    class="input-group-text"
                            ></button>
                        </div>
                    </div>

                    <nav class="navbar navbar-light">
                        <form style="font-size: 20px;" class="form-inline" id="multiselector-form">

                        </form>
                    </nav>
                </div>
                <div class="modal-footer">
                    <button
                            style="
								border-radius: 20px;
								border: none;
								outline: none;
								box-shadow: none;
								padding: 4px 20px;
							"
                            type="button"
                            class="btn btn-primary"
                    >
                        SAVE
                    </button>
                </div>
            </div>
        </div>
    </div>

{{ end }}