body {
  background-color: #fbfbfb;
}

.nav-bar-container {
  width: 200px;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.3s;
  /*box-shadow: 4px 0 5px -2px #888;*/
}

.nav-bar-content {
  position: relative;
  width: 100%;
  /*text-align: center;*/
  margin-top: 30px;
}

.nav-bar-container a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav-bar-content a {
  padding: 14px 0 14px 8px;
}

.navbar-content-icons {
  width: 21px;
  height: 21px;
  font-size: 21px;
}

.nav-bar-container a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.nav-bar-container .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.bg-img {
  position: fixed;
  right: 0px;
  top: 60px;
  z-index: -1;
}

.bg-img-content {
  margin-top: 60px;
}

.top-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  overflow: hidden;
  top: 0px;
  /*box-shadow: 0px 4px 5px -2px #888;*/
  background-color: #ffffff;
}

.top-bar-wrapper {
  height: 60px;
}

.navbar-navicon {
  margin-left: 15px;
  vertical-align: middle;
  /*margin: 0;*/
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content {
  transition: 0.3s;
  margin-left: 200px;
  margin-top: 60px;
  overflow-x: hidden;
}

.content-wrapper {
  padding-bottom: 15px;
  padding-left: 38px;
  padding-right: 28px;
  padding-top: 38px;
}

.navbar-header {
  margin-top: 18px;
  margin-left: 18px;
  text-align: left;
}

.navbar-content {
  margin-top: 48px;
  margin-left: 8px;
}

.nav-bar-container span, .nav-bar-container i, .navbar-header > h3 {
  color: #000000;
}

.navbar-text-right {
  margin-left: 18px;
}

.navbar-content-container {
  margin-top: 28px;
  margin-left: 8px;
}

.navbar-navicons {
  margin-left: 18px;
  margin-bottom: 18px;
}

.username {
  text-align: center;
  display: table;
  margin-right: 48px;
  font-weight: 600;
  right: 0;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.username-text {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.username-img {
  border-radius: 50px;
  margin-right: 12px;
}

.navbar-content span {
  font-size: 16px;
}

ul {
  padding-left: 0pt;
  list-style-type: none;
}

