{{ define "topbar" }}
    <div class="container-fluid m-0 p-0 topbar-container">
        <div class="top-nav row m-0 pb-0">
            <div class="col-md-3 d-flex pt-1 active">
                <button class="btn mr-5" id="nav-toggle" onclick="toggleNav();">
                    <i class="fas fa-bars nav-toggle"></i>
                </button>
                <img class="img-fluid circle-logo" src="/static/img/Jizzberry_Logo.svg"/>
                <img class="img-fluid text-logo" src="/static/img/txt-logo.svg"/>
            </div>
            <div class="col-md-6 pl-5">
                <div class="search searchbar">
                    <i class="fas fa-search"></i>
                    <label id="bloodhound">
                        <input class="typeahead tt-query text-center" autocomplete="off" spellcheck="false" type="text"
                               placeholder="Search"/>
                    </label>
                </div>
            </div>
            <div style="justify-content: flex-end;" class="col-md-3 pt-3 d-flex">
                <div class="mr-4 d-flex">
                    <p class="profile-text">
                        Ovenoboyo
                    </p>
                </div>
            </div>
        </div>
    </div>
{{ end }}