{{ define "topbar" }}
<div style="box-sizing: border-box;" class="container-fluid m-0 p-0 topbar-container">
	<div class="top-nav row m-0 pb-0">
		<div class="col-md-3 pt-1 d-flex active">
			<button class="btn mr-5 " id="nav-toggle" onclick="toggleNav();">
				<i class="fas fa-bars nav-toggle"></i>
			</button>
			<img class="img-fluid circle-logo mr-2 " src="/static/img/Jizzberry_Logo.svg" />
			<img class="img-fluid text-logo" src="/static/img/txt-logo.svg" />
		</div>
		<div style="padding-left: 7rem;" class="col-md-6 ">
			<i style="font-size: 18px; position: absolute; top: 1.25rem;z-index: 10;"
				class="fas fa-search ml-3 mr-0"></i>
			<div class="search searchbar  d-flex justify-content-center">
				<div id="bloodhound" class="text-center">
					<input class="typeahead tt-query text-center p-0 " autocomplete="off" spellcheck="false" type="text"
						placeholder="Search" />
				</div>
			</div>
		</div>
		<div style="justify-content: flex-end; padding-top: 0.75rem;" class="col-md-3 d-flex">
			<div class="mr-4 d-flex">
				<ul class="nav nav-tabs">
					<li class="nav-item dropdown">
						<a style="
								background-color: transparent;
								outline: none;
								border: none;
								font-weight: 500;
								font-size: 20px;
							" class="nav-link mt-0 pt-1 mr-1" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
							aria-expanded="false">Ovenoboyo</a>
						<div style="background-color: white;" class="dropdown-menu profile-dropdown ">
							<a style="background-color: white; font-weight: 600;" class="dropdown-item text-dark"
								href="#"><i style="font-size: 24px; padding-top: 0.25rem;"
									class="fas fa-sign-out-alt mr-3"></i>Logout
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{ end }}