{{ define "tags" }}
<!DOCTYPE html>

<html>

<head>
    {{template "meta"}}

    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jizzberry.css" rel="stylesheet">
    <link href="/static/img/Jizzberry_Logo.svg" rel="icon" type="image/svg+xml">

    <title>Categories</title>
</head>

<body>
    {{template "topbar"}}


    <main>
        {{template "sidenav" .IsAdmin}}


        <div class="main-content" id="content">
            <div class="pt-5 pl-5">
                <h4 class="mb-4 page-header">Categories</h4>


                <div class="video-card-group">
                    <div class="row">
                        {{range $val := .Tags}}

                        <div class="col-xl-3 col-sm-6 mb-3 text-truncate">
                            <div class="channels-card text-truncate">
                                <div class="channels-card-image">
                                    <a href="/Jizzberry/tags/{{$val.GeneratedID}}/"><img alt="" class="img-fluid"
                                            onerror="this.src='/static/img/txt-logo.svg'"
                                            src="/thumbnails/t{{$val.GeneratedID}}"></a>
                                </div>

                                <div class="channels-card-body text-truncate">
                                    <div class="channels-title text-truncate">
                                        <a class="text-truncate" href="/Jizzberry/tags/{{$val.Name}}/">{{$val.Name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{template "vendors"}}
</body>

</html>
{{ end }}