{{ define "singleScene" }}
	<!DOCTYPE html>

	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

		<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/jizzberry.css" rel="stylesheet">
		<link href="/static/img/Jizzberry_Logo.svg" rel="icon" type="image/svg+xml">
		<link href="/static/vendor/plyr/dist/plyr.css" rel="stylesheet">

		<title>{{ (index .Files 0).FileName }}</title>
	</head>

	<body>
	{{template "topbar"}}


	<main>
		{{template "sidenav" .IsAdmin}}

		<div class="main-content" id="content">
			<div class="pt-5 pl-5">
				<div class="row">
					<div class="col-md-8">
						<video controls="" crossorigin=""
							   data-poster="/thumbnails/p{{ (index .Files 0).GeneratedID }}.png" id="videoPlayer"
							   playsinline="">
							<source src="/Jizzberry/stream/{{(index .Files 0).GeneratedID}}" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>


						<div class="d-flex flex-row justify-content-between mb-4 mt-3 ml-3 video-title-container">
							<h4>{{ (index .Files 0).FileName }}</h4>
							<button class="btn" id="parser-toggle"><span><i class="fas fa-edit"></i></span></button>
						</div>

						<div id="metadata-viewer">
							<div class="video-description">
								<div class="p-tags">
									<p>Cast: {{ .ActorList }}</p>


									<p>Tags: {{ (index .Files 0).Tags }}</p>


									<p>Studio: {{ (index .Files 0).Studios }}</p>
								</div>
							</div>


							<div class="video-description">
								<div class="p-tags">
									<p>Path: {{ (index .Files 0).FilePath }}</p>


									<p>Date Created : {{ (index .Files 0).DateCreated }}</p>


									<p>Size: {{ (index .Files 0).FileSize }}</p>


									<p>Length: {{ (index .Files 0).Length }}</p>
								</div>
							</div>
						</div>

						<form class="d-none" id="metadata-parser" name="metadata-parser">
							<div class="form-group d-flex">
								<label for="metadata-title">Title</label> <input class="form-control" data-target="#queryModal" data-toggle="modal" id="metadata-title" name="title" onclick="fetchQueryResults('Mila Azul')" placeholder="Title" type="text" value="{{ (index .Files 0).FileName }}">
							</div>


							<div class="form-group d-flex">
								<label for="metadata-url">URL</label> <input class="form-control" id="metadata-url" name="url" placeholder="URL" type="url">
							</div>


							<div class="form-group d-flex">
								<label for="metadata-date">Date</label><input class="form-control" id="metadata-date" name="date" type="text" value="{{ (index .Files 0).DateCreated }}">
							</div>


							<div class="form-group d-flex">
								<label for="studio">Studio</label> <input class="form-control" data-target="#multiselectorModal" data-toggle="modal" id="metadata-studio" name="studio" onclick="openStudiosModal();" placeholder="Search..." readonly type="search">
							</div>


							<div class="form-group d-flex">
								<label for="performers">Actors</label> <input class="form-control" data-target="#multiselectorModal" data-toggle="modal" id="metadata-actor" name="performers" onclick="openActorsModal();" placeholder="Select actors..." readonly type="text">
							</div>


							<div class="form-group d-flex">
								<label for="tag">Tags</label> <input class="form-control" data-target="#multiselectorModal" data-toggle="modal" id="metadata-tag" name="tag" onclick="openTagsModal();" placeholder="Select tags..." readonly type="text">
							</div>
							<button onclick="saveMetadata();" type="button">save</button>
						</form>
					</div>


					<div class="video-list col-md-4 d-flex flex-column">
						{{range $val := .UpNext}} <a href="/Jizzberry/scene/{{$val.GeneratedID}}">
							<div class="card mb-3">
								<div class="row no-gutters">
									<div class="col-md-5 py-1 pl-1 pr-2"><img class="card-img img-fluid" onerror="this.src='/static/img/txt-logo.svg'" src="/thumbnails/{{$val.GeneratedID}}.png">
									</div>


									<div class="col-md-7">
										<div class="card-body p-0">
											<h4 class="card-title">{{ $val.FileName }}</h4>


											<p class="card-text">{{ $val.Studios }}</p>
										</div>
									</div>
								</div>
							</div></a>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</main>
	{{ template "multiselector_modal" }}
	{{ template "query_modal" }}


	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/static/vendor/fontawesome/js/all.min.js"></script>
	<script src="/static/vendor/plyr/dist/plyr.polyfilled.min.js"></script>
	<script src="/static/js/videos.js"></script>
	<script src="/static/js/query.js"></script>
	<script src="/static/js/navbar.js"></script>
	<script>
		const player = new Plyr(document.getElementById('videoPlayer'));
	</script>
	</body>
	</html>
{{ end }}
